* {
  font-family: 'Montserrat', 'sans';
}

#page-title {
  font-size: 75px;
  color: white;
  letter-spacing: .05em;
  text-shadow:
   4px 4px 0px #3a3737,
   7px 7px 0px rgba(0, 0, 0, 0.2);
   border: 2px solid grey;
   padding: 0.5em;
   border-radius: 35px;
   background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  border-bottom: 5px, #000000;
  width: 100%;
  height: auto;
  
}

#searchBar {
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 5em 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #000000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#game-data-container {
  border: 1px solid grey;
  border-radius: 35px;
  padding: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#loadIt {
  display: none;
  text-align: center;
}


#game-data-container {
  margin-top: 225px;
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  padding: 5px;
} 

@media only screen and (max-width: 750px) {
  #page-title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 605px) {
  
  #loader {
  margin: 10em 0 0 -75px;
  }

  #page-title {
    text-align: center;
  }
} 

@media only screen and (max-width: 310px) {
  #game-data-container {
    align-items: flex-start;
  }
  #loader {
    margin: 17em 0 0 -75px;
  }
}