* {
  font-family: 'Vollkorn', 'sans';
}

h2 {
  font-size: 30em;
}

#page-title {
  font-size: 55px;
  border: 5px #000000;
  border-radius: 35px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  
}

#searchBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

#game-data-container {
  margin-top: 225px;
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  row-gap: 10px;
} 